<a href="https://colab.research.google.com/github/kunwarsaaim/Image_Captioning/blob/master/model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
from os import listdir
from keras.preprocessing.image import load_img
from keras.preprocessing.image import img_to_array
from keras.applications.vgg16 import preprocess_input
from keras.applications.vgg16 import VGG16
from keras.models import Model
from keras.layers import Input

Using TensorFlow backend.

In [0]:
def load_photos(directory):      #directory:in which photos are stored
  features = dict()
  in_layer = Input(shape=(224,224,3))
  model = VGG16(weights='imagenet',input_tensor=in_layer)
  model_new = Model(model.input,model.layers[-2].output)
  print(model_new.summary)
  for file in listdir(directory):
    filename = directort + '/' + file
    #load image from file
    image = load_img(filename,target_size=(224,224))
    #convert to numpy array
    image = img_to_array(image)
    #reshape data for the model
    image = np.expand_dims(image,axis=0)
    image = preprocess_input(image)
    feature = new_model.predict(image,verbose=0)
    #get image id
    image_id = file.split(".")[0]
    #mapping image_id to numpy array converted image
    features[image_id] = feature
  return features

In [4]:
def load_doc(filename):
  #open file
  file = open(filename,'r')
  text = file.read()
  file.close()
  return text


#discription for images
def load_discription(doc):
  mapping = dict()
  for line in doc.split("\n"):
    #split line by white spaces
    tokens = line.split()
    if len(line)<2:
      continue
    #first token as image id and rest as caption
    image_id,caption = tokens[0],tokens[1:]
    #remove filename from image
    image_id = image_id.split('.')[0]
    #tokens to string
    caption = " ".join(caption)
    #store first caption
    if image_id not in mapping:
      mapping[image_id] = caption
  return mapping

In [23]:
filename = "Flickr_TextData/Flickr8k.token.txt"
raw_text = load_doc(filename)

In [24]:
text_dict = load_discription(raw_text)

In [25]:
text_df = pd.DataFrame(list(text_dict.items()))

In [26]:
text_df.head()

                       0                                                  1
0  1000268201_693b08cb0e  A child in a pink dress is climbing up a set o...
1  1001773457_577c3a7d70         A black dog and a spotted dog are fighting
2  1002674143_1b742ab4b8  A little girl covered in paint sits in front o...
3  1003163366_44323f5815  A man lays on a bench while his dog sits by him .
4  1007129816_e794419615     A man in an orange hat starring at something .

In [27]:
from keras.preprocessing.text import Tokenizer

In [28]:
tokenizer = Tokenizer()

In [29]:
tokenizer.fit_on_texts(text_df[1])

In [30]:
text_df[1] = tokenizer.texts_to_sequences(text_df[1])

In [31]:
text_df.head()

                       0                                                  1
0  1000268201_693b08cb0e  [1, 37, 2, 1, 65, 143, 6, 123, 49, 1, 411, 8, ...
1  1001773457_577c3a7d70                  [1, 11, 7, 4, 1, 759, 7, 16, 369]
2  1002674143_1b742ab4b8  [1, 47, 14, 150, 2, 556, 100, 2, 41, 8, 1, 557...
3  1003163366_44323f5815    [1, 9, 628, 5, 1, 151, 26, 22, 7, 100, 45, 111]
4  1007129816_e794419615               [1, 9, 2, 23, 81, 95, 1206, 18, 165]

In [33]:
len(tokenizer.word_counts)

4420